= form_for([@user,@project, @list]) do |f|
  = render 'shared/error_messages', :object => f.object
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :description
    %br
    = f.text_area :description
  .actions
    = f.submit @button_name