-@title = "Lists"
.content
  - if !(@project.nil?)
    %h1
      = @project.name
    %br
    %h5
      =  link_to "Users lists", lists_path
  - else
    %h1
      = "Lists"
    %br
    %h5
      =  link_to "Users projects", projects_path

  - if @lists.blank?
    %h3
      = "There is no list"
    %br
  - else
    %br
      .well
        %table.table.table-striped
          %thead
            %th
              = "List"
            %th
              = "Description"
          %tbody
            - @lists.each do |list|
              %tr
                %td
                  = link_to list.name,list_tasks_path(list)
                %td
                  =  list.description
                %td
                  .btn-group.pull-right
                    != '<a class="btn btn-info" href="#">You can</a>'
                    != '<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">'
                    %span.caret
                    != '</a>'
                    %ul.dropdown-menu
                      %li
                        =  link_to "Edit list", edit_list_path(list)
                      %li
                        =  link_to "Delete list", [@project, list], confirm: 'Are you sure?', method: :delete
                %td
  - if @project.nil?
    %h5
      = link_to "Add the list", new_list_path
  - else
    %h5
      = link_to "Add the list to the project", new_project_list_path(@project)