<h1>Existing lists</h1>
<% if @lists.blank? %>
  <p> There is no list. </p><br />
  <p>Do you want to   <%=  link_to "Add", new_list_path%> new one?</p>
<% else %>
    <table>
  <% @lists.each do |list|           %>
    <tr>
    <td><%=  list.name %></td>
    <td><%=  list.description %></td>
    <td><%=  link_to "Show", list_tasks_path(list)%></td>
    <td><%=  link_to "Edit", edit_list_path(list)%></td>
    <td><%=  link_to "Delete", list, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
    </table>
     <p>Do you want to   <%=  link_to "Add", new_list_path%> new one?</p>
<% end %>