<%= form_for([ @list,@task]) do |f| %>

    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
        <%= f.label :name %> <br />
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :description %> <br />
        <%= f.text_field :description %>
    </div>

   <div class="field">
       <%= f.label :state %> <br />
       <%= f.check_box :state,{}, "Done", "In work" %>
  </div>

   <div class="field">
       <%= f.label :priority %> <br />
       <%= f.select :priority, 1..5 %>
  </div>

  <% if !@members.nil? %>
    <div class="field">
      <%= f.label :executor_id %> <br />
      <%= f.select :executor_id, options_from_collection_for_select(@members,'id','name') %>
    </div>
  <% end %>

  <div class="actions">
      <%= f.submit @button_name %>
  </div>
 <% end %>
