<div class="content">

<% if !(@project.nil?)  %>
  <p><span class="project_name"> <%= link_to @project.name, projects_path  %></span>  </p>
<%end%>

<p class="list_name"><%=  @list.name%></p>

<ul class="task_state">
  <li> <%= link_to "Done ",  list_tasks_url(@list)+'/done' %> </li>
  <li><%= link_to "In work ",  list_tasks_url(@list)+'/in_work' %></li>
  <li><%= link_to "Show all ",  list_tasks_url(@list) %></li>
</ul>

  <table>
   <% @tasks.each do |task| %>
      <tr class=<%= task.state == "Done" ? 'done' : 'in_work' %>>
        <td><b> <%= task.name  %> </b> </td>
        <td><%= task.description  %></td>
        <td><%= task.priority %></td>
        <td><%= link_to task.state, change_state_list_task_url(@list,task)%></td>
      </tr>
      <tr>
         <td><%= link_to "Edit", edit_list_task_path(@list,task) %></td>
         <td><%= link_to "Delete",[ @list, task] , confirm: 'Are you sure?', method: :delete %></td>
      </tr>
   <% end %>
 </table>

  <%= link_to "Add the task", new_list_task_path(@list) %>
</div>