<h1>All users</h1>

  <% if @users.blank? %>
    <p> There is no user </p><br />
    <p>Do you want to   <%=  link_to "Add", new_user_path%> new one?</p>
  <% else %>
      <table>
    <% @users.each do |user| %>
      <tr>
      <td><%=  user.name %></td>

      <td><%=  link_to "Show", user_lists_path(user, @list)%></td>
      <td><%=  link_to "Edit", edit_user_path(user)%></td>
      <td><%=  link_to "Delete", user, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
      </table>
       <p>Do you want to   <%=  link_to "Add", new_user_path%> new one?</p>
    <% end %>


