
<h1>

    <%= gravatar_for @user %>
    <%= @user.name %>
 </h1>

    <%= render 'follow_form' if signed_in? %>
    <ul>
      <li><%= link_to 'Projects', user_projects_path(@user)   %></li>
      <li><%= link_to 'Lists', user_lists_path(@user)   %></li>
    </ul>
    <tr>
      <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Projects</strong> <%= @user.projects.count %>
         <strong>Lists</strong> <%= @user.lists.count %>
      <%= render 'shared/stats' %>
    </td>
    </tr>

