<td>
  <a href = "#/<%=id%>/tasks"> <%=name%>
</td>
<td>
  <%=description%>
</td>
<td>
  <div class="btn-group pull-right">
     <a class="btn btn-info" href="#">You can</a >
     <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
       <li>   <a href="/#/lists/<%=id%>/edit">Edit list</a></li>
       <li>   <a href= "/#/lists/<%=id%>/destroy" class = "destroy">Delete list</a></li>

     </ul>
  </div>

</td>


