- if signed_in?
  #app
  - content_for :javascript do
    new TodoList.Routers.AppRouter({projects: #{ @projects.to_json.html_safe },
    lists: #{ @lists.to_json.html_safe },
    projects_invited_in: #{ @projects_invited_in.to_json.html_safe },
    tasks: #{@tasks.to_json.html_safe} ,user: #{ current_user.to_json.html_safe}})
    Backbone.history.start()
-else
  =render  file: 'devise/sessions/new'