<div class="content">
    <% if @projects.blank? %>
        <p> There is no project. </p><br />
        <p>Do you want to   <%=  link_to "Add", new_project_path%> new one?</p>
    <% else %>
        <table>
            <tr>
                <td><%=  link_to "User lists", lists_path %></td>
            </tr>
            <tr></tr>
            <% @projects.each do |project|           %>
            <tr>
            <td><%=  link_to project.name, project_lists_path(project) %></td>
            <td><%=  project.description %></td>
            <td><%=  link_to "Edit", edit_project_path( project)%></td>
            <td><%=  link_to "Delete", [project], confirm: 'Are you sure?', method: :delete %></td>
              <td><%=  link_to "Members", project_path(project)+'/members' %></td>
            </tr>
    <% end %>
    </table>
        <p>Do you want to   <%=  link_to "Add", new_project_path%> new one?</p>
    <% end %>
</div>