.content
  %h1
    = "Projects"
  %br
  %h5
    =  link_to "User lists", lists_path
  %br
  .well
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          - @projects.each do |project|
            %tr
              %td
                =  link_to project.name, project_lists_path(project)
              %td
                =  project.description
              %td
                =  link_to "Edit", edit_project_path( project)
              %td
                =  link_to "Delete", [project], confirm: 'Are you sure?', method: :delete
              %td
                =  link_to "Members", project_path(project)+'/members'
        %table
  %br
    %h5
      =  link_to "Add new project", new_project_path

