<td>
  <a href = "#/projects/<%=id%>/lists"> <%=name%>
</td>
<td>
  <%=description%>
</td>
<td>
  <div class="btn-group pull-right">
     <a class="btn btn-info" href="#">You can</a >
     <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
     </a>
     <ul class="dropdown-menu">
       <li>   <a href="#/projects/<%=id%>/edit">Edit project</a></li>
       <li>   <a href= "#<%=id%>/destroy" class = "destroy">Delete project</a></li>

     </ul>
  </div>

</td>







