<html>
<head>
  <title>TodoList</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">

  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">TodoList</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="">
            <%= link_to "Home", root_path %>
          </li>
          <li class="divider-vertical"></li>
          <li class="">
            <%= link_to "Profile", edit_user_registration_path(current_user)%>
          </li>
          <li class="divider-vertical"></li>
          <li class="">
            <%=link_to "Projects", "/#/projects"%>
          </li>
          <li class="divider-vertical"></li>
          <li class="">
            <%=link_to "Lists", "/#/lists"%>
          </li>
          <li class="divider-vertical"></li>
          <li class="">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= yield %>
    <%- if content_for? :javascript %>
      <script type ="text/javascript">
        <%= yield :javascript %>
      </script>
    <%- end %>
  </div>
</div>
    <div class="footer">
      <%= debug(params) if Rails.env.development? %>
    </div>

</body>
</html>