!!!5
%html
  %head
    %title
      = @title || "TODO_List"
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"

  %body
    .container
      .row
        .span10.top
          .logo
            %h1
              ="TODO_List"
        .btn-group.pull-right
          - if signed_in?
            = link_to "Home", current_user, class: "btn"
            = link_to "Profile", edit_user_path(current_user), class: "btn"
            = link_to "Sign out", signout_path, method: :delete, class: "btn"
      %br
      - flash.each do |key, value|
        = content_tag(:div, value, class: "flash #{key}")
      = yield
    = render 'layouts/footer'

